@import './var.scss';

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin footer-titles {
  @include flex-column;
  //   margin: 0px 25px;

  & .mid-title {
    color: $black;
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bolder;
    text-align: center;
  }

  a {
    margin-bottom: 10px;
    color: $light-gray;
    font-size: 1.1rem;
    text-align: center;
  }
}

// footer
footer {
  @include flex-column;
  align-items: center;
  padding: 111px 0px 61px 0px;
  background-color: $footer-base;
  border-radius: 64px 64px 0px 0px;
  margin-top: 50px;

  .main-footer {
    @include flex-row;
    align-items: flex-start;
    margin-bottom: 50px;

    & .left {
      @include flex-column;
      & .site-name {
        color: $mid-dark-blue;
        font-size: 3rem;
        font-weight: bolder;
      }
      p {
        color: $light-gray;
        max-width: 245px;
      }
    }

    @media only screen and (max-width: 800px) {
      .left {
        text-align: center;
      }
    }

    @media only screen and (max-width: 800px) {
      .mid {
        margin-bottom: 38px;
      }
      .company {
        margin: 0px 0px !important;
      }
      .Contact {
        margin: 0px 0px !important;
      }
      .More {
        margin: 0px 0px !important;
      }
    }

    & .mid {
      @include flex-row;
      // margin: 0px 74px;
      & .company {
        @include footer-titles;
      }
      & .Contact {
        @include footer-titles;
      }
      & .More {
        @include footer-titles;
      }
    }

    & .right {
      @include flex-column;
      & .icons {
        @include flex-row;
        justify-content: center;
        i {
          padding: 16px;
          border-radius: 32px;
          color: $black;
          box-shadow: 2px 1px 20px 7px rgb(0 0 0 / 11%);
          margin-right: 12px;
        }
      }
      & .text {
        color: $light-gray;
        font-size: 1.1rem;
        margin-top: 25px;
        margin-bottom: 15px;
        text-align: center;
      }
      & .app-dowload {
        @include flex-row;
        justify-content: center;
      }
    }
  }

  .copy-right {
    color: $light-gray;
    font-size: 1rem;
  }
}
