header {
  position: relative;
  @import url(https://fonts.googleapis.com/css?family=Raleway);
}
header .back-head img {
  position: absolute;
  top: -163px;
  right: 0px;
  z-index: 1;
}
header h2 {
  vertical-align: center;
  text-align: center;
}
header html,
header body {
  margin: 0;
  height: 100%;
}
header * {
  font-family: "Raleway";
  box-sizing: border-box;
}
header .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000000;
  height: 50px;
  padding: 1em;
}
header .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
header .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header #menu-toggle {
  display: none;
}
header .menu-button,
header .menu-button::before,
header .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
header .menu-button::before {
  content: "";
  margin-top: -8px;
}
header .menu-button::after {
  content: "";
  margin-top: 8px;
}
header #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
header #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
header #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 960px) {
  header .menu-button-container {
    display: flex;
  }
  header .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  header #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #2f5c6c;
    z-index: 4;
  }
  header .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -17px 120px;
}
header section .left {
  position: relative;
  z-index: 2;
}
header section .left .describe-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #df6951;
}
header section .left img {
  position: absolute;
  z-index: -1;
  top: 100px;
  right: -206px;
}
@media only screen and (max-width: 800px) {
  header section .left #h1-d {
    font-size: 1rem;
    max-width: 85%;
  }
  header section .left #h1-h {
    font-size: 2rem;
    text-align: start;
    max-width: 95%;
    margin-bottom: 50px !important;
  }
  header section .left #h1-p {
    font-size: 1rem;
    text-align: start;
    max-width: 95%;
    margin: 0px 0px 35px 0px !important;
  }
}
header section .left h1 {
  color: #181e4b;
  font-size: 5rem;
  font-weight: bolder;
  margin: 14px 0px;
  width: 595px;
  z-index: 2;
}
header section .left p {
  color: #5e6282;
  width: 450px;
  font-size: 1rem;
  margin: 100px 0px 40px 0px;
}
header section .left .header-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
header section .left .header-btn button {
  color: white;
  background-color: #f1a501;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 40px;
  border: none;
}
header section .left .header-btn button:hover {
  cursor: pointer;
}
header section .left .header-btn a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  color: #686d77;
}
header section .left .header-btn a i {
  color: #df6951;
  font-size: 2.5rem;
  margin-right: 10px;
}
header section .right {
  z-index: 2;
}/*# sourceMappingURL=header.css.map */