@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body{
    background-color: #e3af47db;
    // #f6c353db
}
// header
header{
    position: relative;
    
    .back-head img {
        position: absolute;
        top: -21%;
        right: -4%;
        z-index: 1;
    }
    nav{
        @include flex-row;
        margin: 2% 8%;
        
        .right{
            @include flex-row;
            gap: 80px;
            z-index: 2;
            ul {
                @include flex-row;
                
                gap: 48px;
                    li {
                        font-size: 1.1rem;
                        & .active-btn {
                                border: 1px solid #212832;
                                padding: 10px 23px;
                                border-radius: 5px;
                            }
                    }
                }
        }
        .left{
            z-index: 2;
        }
    }
    
     section {
        @include flex-row;
        margin: -17px 120px; 
            .left{
                
                & .describe-header {
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: #DF6951;
                
                    }
                h1{
                    color: #181E4B;
                    font-size: 5rem;
                    font-weight: bolder;
                    margin: 14px 0px;
                    width: 600px;
                    position: relative;
                    z-index: 2;
                    img{
                        position: absolute;
                        z-index: 1;
                        top: 55px;
                        right: -23px;
                    }
                }
                p{
                    color: #5E6282;
                    width: 450px;
                    font-size: 1rem;
                    margin: 100px 0px 40px 0px;
                }
                & .header-btn{
                    @include flex-row;
                    justify-content: flex-start;
                    & button {
                            color: white;
                            background-color: #F1A501;
                            padding: 15px 20px;
                            border-radius: 10px;
                            margin-right: 40px;
                            border: none;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    a{
                        @include flex-row;
                        justify-content: flex-start;
                        color: #686D77;
                        i{
                            color: #DF6951;
                            font-size: 2.5rem;
                            margin-right: 10px;
                        }
                    }
                }
                z-index: 2;
            }
            .right{
                z-index: 2;
            }
        }
    
}

// main
main{
    .category{
        @include flex-column;
        align-items: center;
        position: relative;
        margin: 0px 60px;

        & .title{
            color: #5E6282;
            font-size: 1rem;
        }

        h2{
            color: #14183E;
            font-size: 3.5rem;
            font-weight: bolder;
            margin-top: 25px;
            margin-bottom: 60px;
        }

        & .plus{
            position: absolute;
            top: 0px;
            right: 0px;
        }

        & .cards{
            @include flex-row;
            & .card{
                @include flex-column;
                align-items: center;
                margin: 0px 60px;
                border-radius: 40px;
                padding: 45px;
                position: relative;
                z-index: 2;
                img{
                    width: 70px;
                    z-index: 1;
                }
                #mic{
                    width: 40px;
                }
                #plain{
                    width: 100px;
                }
                #setting{
                    width: 50px;
                }
                & .card-title{
                    color: #1E1D4C;
                    font-size: 1.5rem;
                    margin: 25px 0px;
                }
                p{
                    color: #5E6282;
                    width: 170px;
                    z-index: 1; 
                }
                #c1{
                    position: absolute;
                    z-index: 0;
                    top: 65px;
                    right: 64px;
                }
                #c2 {
                    position: absolute;
                    z-index: 0;
                    top: 18px;
                    right: 118px;
                }
                #c3 {
                    position: absolute;
                    z-index: 0;
                    top: 0px;
                    right: 0px;
                }
                #c4 {
                    position: absolute;
                    z-index: 0;
                    top: 44px;
                    right: 57px;
                }
                & .none{
                    display: none;
                    position: absolute;
                    bottom: -22px;
                    left: -24px;
                    z-index: -1;
                    
                }
                &:hover {
                    background-color: rgba(233, 233, 233, 0.885);
                    z-index: 1;
    
                    img {
                        &.none {
                            display: block !important;
                            z-index: -1;
    
                        }
    
                    }
                }
            }
            & .active-card{
                background-color: rgba(233, 233, 233, 0.885);
                z-index: 1;
                img{
                    &.none{
                        display: block !important;
                        z-index: -1;
                        
                    }
                    
                }
            }
        }
    }
}
