* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0px;
  background-color: #53a0bb;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1147px) {
  .back-head {
    display: block !important;
  }
}
.back-head img {
  position: absolute;
  top: -166px;
  right: 0px;
  z-index: -1;
}

header {
  margin: 20px 40px;
  @import url(https://fonts.googleapis.com/css?family=Raleway);
}
header h2 {
  vertical-align: center;
  text-align: center;
}
header html,
header body {
  margin: 0;
  height: 100%;
}
header * {
  font-family: "Raleway";
  box-sizing: border-box;
}
header .top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #212832;
  height: 50px;
  padding: 1em;
}
header .menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header .menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
header .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header #menu-toggle {
  display: none;
}
header .menu-button,
header .menu-button::before,
header .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
header .menu-button::before {
  content: "";
  margin-top: -8px;
}
header .menu-button::after {
  content: "";
  margin-top: 8px;
}
header #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
header #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
header #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 960px) {
  header .menu-button-container {
    display: flex;
  }
  header .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  header #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #2f5c6c;
    z-index: 4;
  }
  header .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -17px 120px;
}
header section .left {
  z-index: 2;
}
header section .left .describe-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #df6951;
}
@media only screen and (max-width: 800px) {
  header section .left #h1-d {
    font-size: 1rem;
    max-width: 85%;
  }
  header section .left #h1-h {
    font-size: 2rem;
    text-align: start;
    max-width: 95%;
    margin-bottom: 50px !important;
  }
  header section .left #h1-p {
    font-size: 1rem;
    text-align: start;
    max-width: 95%;
    margin: 0px 0px 35px 0px !important;
  }
}
header section .left h1 {
  color: #181e4b;
  font-size: 5rem;
  font-weight: bolder;
  margin: 14px 0px;
  width: 595px;
  z-index: 2;
  position: relative;
}
header section .left h1 img {
  position: absolute;
  z-index: -1;
  top: 51px;
  right: -39px;
}
header section .left p {
  color: #5e6282;
  width: 450px;
  font-size: 1rem;
  margin: 100px 0px 40px 0px;
}
header section .left .header-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
header section .left .header-btn button {
  color: white;
  background-color: #f1a501;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 40px;
  border: none;
}
header section .left .header-btn button:hover {
  cursor: pointer;
}
header section .left .header-btn a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  color: #686d77;
}
header section .left .header-btn a i {
  color: #df6951;
  font-size: 2.5rem;
  margin-right: 10px;
}
@media only screen and (min-width: 1147px) {
  header section .right img {
    display: block !important;
  }
}
header section .right {
  z-index: 2;
}
header section .right img {
  float: right;
}

main section {
  margin: 77px 0px;
}
main #myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 45px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #14183e;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  font-size: 1.5rem;
}
main #myBtn :hover {
  background-color: #555;
}
main .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .category .title {
  color: #5e6282;
  font-size: 1rem;
}
main .category h2 {
  color: #14183e;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 60px;
  text-align: center;
}
main .category .plus {
  position: absolute;
  top: 0px;
  right: 0px;
}
main .category .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .category .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 14px 5px;
  border-radius: 40px;
  padding: 45px;
  position: relative;
  z-index: 1;
  max-width: 262px;
  max-height: 330px;
}
main .category .cards .card img {
  width: 70px;
  z-index: 1;
}
main .category .cards .card #mic {
  width: 40px;
}
main .category .cards .card #plain {
  width: 100px;
}
main .category .cards .card #setting {
  width: 50px;
}
main .category .cards .card .card-title {
  color: #1e1d4c;
  font-size: 1.5rem;
  margin: 25px 0px;
}
main .category .cards .card p {
  color: #5e6282;
  width: 170px;
  z-index: 1;
}
main .category .cards .card #c1 {
  position: absolute;
  z-index: 0;
  top: 65px;
  right: 64px;
}
main .category .cards .card #c2 {
  position: absolute;
  z-index: 0;
  top: 18px;
  right: 118px;
}
main .category .cards .card #c3 {
  position: absolute;
  z-index: 0;
  top: 24px;
  right: 12px;
}
main .category .cards .card #c4 {
  position: absolute;
  z-index: 0;
  top: 44px;
  right: 57px;
}
main .category .cards .card .none {
  display: none;
  position: absolute;
  bottom: -22px;
  left: -10px;
  z-index: -1;
}
main .category .cards .card:hover {
  background-color: rgba(233, 233, 233, 0.885);
  z-index: 1;
}
main .category .cards .card:hover img.none {
  display: block !important;
  z-index: -1;
}
main .category .cards .active-card {
  background-color: rgba(233, 233, 233, 0.885);
  box-shadow: 9px 12px 20px 3px rgba(0, 0, 0, 0.216);
  z-index: 1;
}
main .category .cards .active-card img.none {
  display: block !important;
  z-index: -1;
}
main .top-selling {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .top-selling .title {
  color: #5e6282;
  font-size: 1rem;
}
main .top-selling h2 {
  color: #14183e;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 60px;
  text-align: center;
}
main .top-selling .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .top-selling .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 0px 60px;
  position: relative;
  width: 314px;
  height: 500px;
  background-color: transparent;
  border: none;
}
main .top-selling .cards .card .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  height: 22%;
  border-radius: 0px 0px 26px 26px;
  margin: 20px 0px;
  padding: 0px 30px;
  box-shadow: 6px 11px 20px 11px rgba(0, 0, 0, 0.216);
}
main .top-selling .cards .card .caption .location-prise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main .top-selling .cards .card .caption .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
main .top-selling .cards .card .caption .time img {
  margin-right: 8px;
}
main .top-selling .cards .card .back-card-sell {
  position: absolute;
  right: -69px;
  z-index: -1;
}
main .easy-and-fast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
main .easy-and-fast .title {
  color: #5e6282;
  font-size: 1.2rem;
}
main .easy-and-fast .left h2 {
  color: #14183e;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}
main .easy-and-fast .left .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .easy-and-fast .left .steps .step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
main .easy-and-fast .left .steps .step .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
main .easy-and-fast .left .steps .step .caption h3 {
  margin: 5px 0px;
}
main .easy-and-fast .left .steps .step .caption p {
  margin: 0px;
  width: 60%;
}
main .easy-and-fast .right {
  position: relative;
}
main .easy-and-fast .right .big-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 26px;
  border-radius: 34px;
  box-shadow: 11px -20px 20px 4px #a0dbff;
}
main .easy-and-fast .right .big-card .title-right {
  color: #080809;
  font-size: 1.4rem;
  margin-top: 21px;
  margin-bottom: 9px;
}
main .easy-and-fast .right .big-card .date {
  color: #84829a;
  font-size: 1rem;
  margin-bottom: 10px;
}
main .easy-and-fast .right .big-card .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 43%;
  margin-bottom: 10px;
}
main .easy-and-fast .right .big-card .down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .easy-and-fast .right .big-card .down .people-number img {
  margin-right: 7px;
}
@media only screen and (min-width: 1570px) {
  main .easy-and-fast .right .small-card {
    display: block !important;
  }
}
main .easy-and-fast .right .small-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 4px 7px 20px 0px #29292e;
  padding: 20px;
  width: 280px;
  border-radius: 16px;
  position: absolute;
  bottom: 51px;
  right: -120px;
}
main .easy-and-fast .right .small-card .caption-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
main .easy-and-fast .right .small-card .caption-bar .cap-status {
  color: #84829a;
  font-size: 1rem;
}
main .easy-and-fast .right .small-card .caption-bar .cap-title {
  color: #080809;
  margin: 7px 0px;
  font-size: 1.3rem;
}
main .easy-and-fast .right .small-card .caption-bar .status-bar {
  margin-bottom: 10px;
}
main .easy-and-fast .right .small-card .caption-bar .status-bar .cap-persent {
  color: #8a79df;
}
main .easy-and-fast .right .small-card .caption-bar img {
  border: 1px solid #938a8a;
  border-radius: 5px;
}
main .testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
}
main .testimonials .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .testimonials .left .descreption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .testimonials .left .descreption .title {
  color: #5e6282;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
@media only screen and (max-width: 800px) {
  main .testimonials .left .descreption .second-title {
    font-size: 1.5rem !important;
    margin-bottom: 15% !important;
  }
}
main .testimonials .left .descreption .second-title {
  color: #14183e;
  font-size: 3rem;
  font-weight: bolder;
  width: 365px;
  margin-bottom: 35%;
  text-align: center;
}
main .testimonials .left .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
main .testimonials .left .buttons .btn-active {
  color: #39425d;
}
main .testimonials .left .buttons i {
  margin-right: 20px;
  color: #e5e5e5;
  cursor: pointer;
}
main .testimonials .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
main .testimonials .right .comments {
  position: relative;
}
@media only screen and (min-width: 800px) {
  main .testimonials .right .comments .active-comment {
    position: absolute;
    top: 120px;
    left: -38px;
    z-index: 2;
    background-color: #ffffff !important;
    box-shadow: 12px 15px 20px 5px rgba(0, 0, 0, 0.5490196078);
  }
}
@media only screen and (max-width: 800px) {
  main .testimonials .right .comments .active-comment {
    background-color: #ffffff !important;
    border: 1px solid rgba(0, 0, 0, 0.5490196078);
    margin-bottom: 46px;
    margin-top: 55px;
  }
  main .testimonials .right .comments .profile-pic {
    top: -42px !important;
    left: 10px !important;
  }
}
main .testimonials .right .comments .comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bccbd8;
  max-width: 475px;
  border-radius: 18px;
  padding: 30px;
  position: relative;
}
main .testimonials .right .comments .comment .profile-pic {
  position: absolute;
  top: -42px;
  left: -40px;
}
main .testimonials .right .comments .comment .profile-pic img {
  border-radius: 88px;
  width: 76px;
}
main .testimonials .right .comments .comment q {
  color: #5e6282;
  font-size: 1.1rem;
  margin-bottom: 33px;
}
main .testimonials .right .comments .comment .name {
  color: #5e6282;
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bold;
}
main .testimonials .right .comments .comment .location {
  color: #5e6282;
  font-size: 1rem;
  font-weight: normal;
}
main .testimonials .right .comment-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
}
main .testimonials .right .comment-button .activ-btn {
  color: #3e2e4d;
}
main .testimonials .right .comment-button i {
  color: #bcb7c2;
  margin: 23px 0px;
  font-size: 1.6rem;
  font-weight: bolder;
  cursor: pointer;
}
main .brands span {
  text-align: center;
  margin-bottom: 40px;
}
main .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  height: 407px;
  background-image: url("../images/back-subscribe.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
main .subscribe #send {
  position: absolute;
  top: -16px;
  right: 289px;
}
main .subscribe p {
  color: #ffffff;
  font-size: 2.3rem;
  margin-bottom: 71px;
  text-align: center;
  width: 758px;
}
main .subscribe form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
main .subscribe form input {
  padding: 16px 27px;
  width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  border: none;
}
main .subscribe form .icon {
  background: url("../icons/email.svg") no-repeat left;
  background-size: 20px;
  background-color: white;
}
main .subscribe form button {
  background-color: #e66465;
  color: white;
  border: none;
  padding: 16px 26px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.1rem;
}
main .subscribe #p2 {
  position: absolute;
  bottom: -68px;
  right: 213px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 111px 0px 61px 0px;
  background-color: #fff1da;
  border-radius: 64px 64px 0px 0px;
  margin-top: 50px;
}
footer .main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 50px;
}
footer .main-footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .left .site-name {
  color: #181e4b;
  font-size: 3rem;
  font-weight: bolder;
}
footer .main-footer .left p {
  color: #5e6282;
  max-width: 245px;
}
@media only screen and (max-width: 800px) {
  footer .main-footer .left {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  footer .main-footer .mid {
    margin-bottom: 38px;
  }
  footer .main-footer .company {
    margin: 0px 0px !important;
  }
  footer .main-footer .Contact {
    margin: 0px 0px !important;
  }
  footer .main-footer .More {
    margin: 0px 0px !important;
  }
}
footer .main-footer .mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .main-footer .mid .company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .mid .company .mid-title {
  color: #080809;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}
footer .main-footer .mid .company a {
  margin-bottom: 10px;
  color: #5e6282;
  font-size: 1.1rem;
  text-align: center;
}
footer .main-footer .mid .Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .mid .Contact .mid-title {
  color: #080809;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}
footer .main-footer .mid .Contact a {
  margin-bottom: 10px;
  color: #5e6282;
  font-size: 1.1rem;
  text-align: center;
}
footer .main-footer .mid .More {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .mid .More .mid-title {
  color: #080809;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}
footer .main-footer .mid .More a {
  margin-bottom: 10px;
  color: #5e6282;
  font-size: 1.1rem;
  text-align: center;
}
footer .main-footer .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .right .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
footer .main-footer .right .icons i {
  padding: 16px;
  border-radius: 32px;
  color: #080809;
  box-shadow: 2px 1px 20px 7px rgba(0, 0, 0, 0.11);
  margin-right: 12px;
}
footer .main-footer .right .text {
  color: #5e6282;
  font-size: 1.1rem;
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}
footer .main-footer .right .app-dowload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
footer .copy-right {
  color: #5e6282;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */