* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0px;
  background-color: #53a0bb;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  position: relative;
}
header .back-head img {
  position: absolute;
  top: -163px;
  right: 0px;
  z-index: 1;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 8%;
}
header nav .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  z-index: 2;
}
header nav .right ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
header nav .right ul li {
  font-size: 1.1rem;
}
header nav .right ul li .active-btn {
  border: 1px solid #212832;
  padding: 10px 23px;
  border-radius: 5px;
}
header nav .left {
  z-index: 2;
}
header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -17px 120px;
}
header section .left .describe-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #DF6951;
  z-index: 2;
}
header section .left .describe-header h1 {
  color: #181E4B;
  font-size: 5rem;
  font-weight: bolder;
  margin: 14px 0px;
  width: 595px;
  position: relative;
  z-index: 2;
}
header section .left .describe-header h1 img {
  position: absolute;
  z-index: 1;
  top: 55px;
  right: -23px;
}
header section .left .describe-header p {
  color: #5E6282;
  width: 450px;
  font-size: 1rem;
  margin: 100px 0px 40px 0px;
}
header section .left .describe-header .header-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
header section .left .describe-header .header-btn button {
  color: white;
  background-color: #F1A501;
  padding: 15px 20px;
  border-radius: 10px;
  margin-right: 40px;
  border: none;
}
header section .left .describe-header .header-btn button:hover {
  cursor: pointer;
}
header section .left .describe-header .header-btn a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  color: #686D77;
}
header section .left .describe-header .header-btn a i {
  color: #DF6951;
  font-size: 2.5rem;
  margin-right: 10px;
}
header section .left .right {
  z-index: 2;
}

main .category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 100px 60px;
}
main .category .title {
  color: #5E6282;
  font-size: 1rem;
}
main .category h2 {
  color: #14183E;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 60px;
}
main .category .plus {
  position: absolute;
  top: 0px;
  right: 0px;
}
main .category .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .category .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0px 60px;
  border-radius: 40px;
  padding: 45px;
  position: relative;
  z-index: 2;
}
main .category .cards .card img {
  width: 70px;
  z-index: 1;
}
main .category .cards .card #mic {
  width: 40px;
}
main .category .cards .card #plain {
  width: 100px;
}
main .category .cards .card #setting {
  width: 50px;
}
main .category .cards .card .card-title {
  color: #1E1D4C;
  font-size: 1.5rem;
  margin: 25px 0px;
}
main .category .cards .card p {
  color: #5E6282;
  width: 170px;
  z-index: 1;
}
main .category .cards .card #c1 {
  position: absolute;
  z-index: 0;
  top: 65px;
  right: 64px;
}
main .category .cards .card #c2 {
  position: absolute;
  z-index: 0;
  top: 18px;
  right: 118px;
}
main .category .cards .card #c3 {
  position: absolute;
  z-index: 0;
  top: 0px;
  right: 0px;
}
main .category .cards .card #c4 {
  position: absolute;
  z-index: 0;
  top: 44px;
  right: 57px;
}
main .category .cards .card .none {
  display: none;
  position: absolute;
  bottom: -22px;
  left: -24px;
  z-index: -1;
}
main .category .cards .card:hover {
  background-color: rgba(233, 233, 233, 0.885);
  z-index: 1;
}
main .category .cards .card:hover img.none {
  display: block !important;
  z-index: -1;
}
main .category .cards .active-card {
  background-color: rgba(233, 233, 233, 0.885);
  box-shadow: 9px 13px 20px 20px rgba(0, 0, 0, 0.216);
  z-index: 1;
}
main .category .cards .active-card img.none {
  display: block !important;
  z-index: -1;
}
main .top-selling {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 100px 0px;
}
main .top-selling .title {
  color: #5E6282;
  font-size: 1rem;
}
main .top-selling h2 {
  color: #14183E;
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 25px;
  margin-bottom: 60px;
}
main .top-selling .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .top-selling .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 0px 60px;
  position: relative;
  width: 314px;
  height: 500px;
  background-color: transparent;
}
main .top-selling .cards .card .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  background-color: #ffffff;
  width: 100%;
  height: 22%;
  border-radius: 0px 0px 26px 26px;
  margin: 20px 0px;
  padding: 0px 30px;
  box-shadow: 6px 11px 20px 11px rgba(0, 0, 0, 0.216);
}
main .top-selling .cards .card .caption .location-prise {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
main .top-selling .cards .card .caption .time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
main .top-selling .cards .card .caption .time img {
  margin-right: 8px;
}
main .top-selling .cards .card .back-card-sell {
  position: absolute;
  right: -69px;
  z-index: -1;
}
main .easy-and-fast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
main .easy-and-fast .title {
  color: #5E6282;
  font-size: 1.2rem;
}
main .easy-and-fast .left h2 {
  color: #14183E;
  font-size: 3rem;
  width: 60%;
  margin-top: 20px;
}
main .easy-and-fast .left .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .easy-and-fast .left .steps .step {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}
main .easy-and-fast .left .steps .step .caption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
main .easy-and-fast .left .steps .step .caption h3 {
  margin: 5px 0px;
}
main .easy-and-fast .left .steps .step .caption p {
  margin: 0px;
  width: 60%;
}
main .easy-and-fast .right {
  position: relative;
}
main .easy-and-fast .right .big-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 26px;
  border-radius: 34px;
  box-shadow: 11px -20px 20px 4px #a0dbff;
}
main .easy-and-fast .right .big-card .title-right {
  color: #080809;
  font-size: 1.4rem;
  margin-top: 21px;
  margin-bottom: 9px;
}
main .easy-and-fast .right .big-card .date {
  color: #84829A;
  font-size: 1rem;
  margin-bottom: 10px;
}
main .easy-and-fast .right .big-card .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 43%;
  margin-bottom: 10px;
}
main .easy-and-fast .right .big-card .down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .easy-and-fast .right .big-card .down .people-number img {
  margin-right: 7px;
}
main .easy-and-fast .right .small-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 4px 7px 20px 0px #29292e;
  padding: 20px;
  width: 280px;
  border-radius: 16px;
  position: absolute;
  bottom: 51px;
  right: -120px;
}
main .easy-and-fast .right .small-card .caption-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
main .easy-and-fast .right .small-card .caption-bar .cap-status {
  color: #84829A;
  font-size: 1rem;
}
main .easy-and-fast .right .small-card .caption-bar .cap-title {
  color: #080809;
  margin: 7px 0px;
  font-size: 1.3rem;
}
main .easy-and-fast .right .small-card .caption-bar .status-bar {
  margin-bottom: 10px;
}
main .easy-and-fast .right .small-card .caption-bar .status-bar .cap-persent {
  color: #8A79DF;
}
main .easy-and-fast .right .small-card .caption-bar img {
  border: 1px solid #938a8a;
  border-radius: 5px;
}
main .testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 65px 0px;
}
main .testimonials .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10%;
}
main .testimonials .left .descreption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .testimonials .left .descreption .title {
  color: #5E6282;
  font-size: 1.3rem;
  margin-bottom: 15px;
}
main .testimonials .left .descreption .second-title {
  color: #14183E;
  font-size: 3rem;
  font-weight: bolder;
  width: 365px;
  margin-bottom: 35%;
}
main .testimonials .left .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
main .testimonials .left .buttons .btn-active {
  color: #39425D;
}
main .testimonials .left .buttons i {
  margin-right: 20px;
  color: #E5E5E5;
  cursor: pointer;
}
main .testimonials .right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
main .testimonials .right .comments {
  position: relative;
}
main .testimonials .right .comments .active-comment {
  position: absolute;
  top: 120px;
  left: -38px;
  z-index: 2;
  background-color: #FFFFFF !important;
  box-shadow: 12px 15px 20px 5px rgba(0, 0, 0, 0.5490196078);
}
main .testimonials .right .comments .comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bccbd8;
  width: 475px;
  border-radius: 18px;
  padding: 30px;
  position: relative;
}
main .testimonials .right .comments .comment .profile-pic {
  position: absolute;
  top: -42px;
  left: -40px;
}
main .testimonials .right .comments .comment .profile-pic img {
  border-radius: 88px;
  width: 76px;
}
main .testimonials .right .comments .comment q {
  color: #5E6282;
  font-size: 1.1rem;
  margin-bottom: 33px;
}
main .testimonials .right .comments .comment .name {
  color: #5E6282;
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bold;
}
main .testimonials .right .comments .comment .location {
  color: #5E6282;
  font-size: 1rem;
  font-weight: normal;
}
main .testimonials .right .comment-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
}
main .testimonials .right .comment-button .activ-btn {
  color: #3E2E4D;
}
main .testimonials .right .comment-button i {
  color: #BCB7C2;
  margin: 23px 0px;
  font-size: 1.6rem;
  font-weight: bolder;
  cursor: pointer;
}
main .brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 16px 0px;
}
main .brands img {
  margin-right: 141px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 111px 0px 61px 0px;
  background-color: #FFF1DA;
  border-radius: 64px 64px 0px 0px;
  margin-top: 50px;
}
footer .main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 50px;
}
footer .main-footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .left .site-name {
  color: #181E4B;
  font-size: 3rem;
  font-weight: bolder;
}
footer .main-footer .left p {
  color: #5E6282;
  width: 245px;
}
footer .main-footer .mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 74px;
}
footer .main-footer .mid .company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 25px;
}
footer .main-footer .mid .company .mid-title {
  color: #080809;
  font-size: 1.4rem;
  margin-bottom: 25px;
  font-weight: bolder;
}
footer .main-footer .mid .company a {
  margin-bottom: 10px;
  color: #5E6282;
  font-size: 1.1rem;
}
footer .main-footer .mid .Contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 25px;
}
footer .main-footer .mid .Contact .mid-title {
  color: #080809;
  font-size: 1.4rem;
  margin-bottom: 25px;
  font-weight: bolder;
}
footer .main-footer .mid .Contact a {
  margin-bottom: 10px;
  color: #5E6282;
  font-size: 1.1rem;
}
footer .main-footer .mid .More {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 25px;
}
footer .main-footer .mid .More .mid-title {
  color: #080809;
  font-size: 1.4rem;
  margin-bottom: 25px;
  font-weight: bolder;
}
footer .main-footer .mid .More a {
  margin-bottom: 10px;
  color: #5E6282;
  font-size: 1.1rem;
}
footer .main-footer .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .main-footer .right .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .main-footer .right .icons i {
  padding: 16px;
  border-radius: 32px;
  color: #080809;
  box-shadow: 2px 1px 20px 7px rgba(0, 0, 0, 0.11);
}
footer .main-footer .right .text {
  color: #5E6282;
  font-size: 1.1rem;
  margin-top: 25px;
  margin-bottom: 15px;
}
footer .main-footer .right .app-dowload {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .copy-right {
  color: #5E6282;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */