// color variables >>
// background colors
$body-bg: #53a0bb;
$header-menu-bg: #fff;
$header-menu-bg-li: #2f5c6c;
$main-btn-gray: #555;
$main-card-bg: #e9e9e9e2;
$main-comment-bg: #bccbd8;
$footer-base: #fff1da;

// shadow
$main-big-card: #a0dbff;
$main-small-card: #29292e;
$main-active-comment: #0000008c;
$main-active-card: #00000037;
$main-caption: #00000037;

// text colors
$white: #ffffff;
$i-btn: #bcb7c2;
$base-color: #c6538c;
$light-orange: #df6951;
$btn-form: #e66465;
$yelow: #f1a501;
$light-purpule: #8a79df;
$mid-dark-purpule: #3e2e4d;
$light-gray: #5e6282;
$border-gray: #938a8a;
$light-gray-border: #444;
$dark-gray: #212832;
$mid-dark-blue: #181e4b; // #14183e
$black: #080809;
